.form-input-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.form-input{
    height: 40px;
    width: 300px;
    padding: 10px 20px;
    border-style: none;
    background-color: #f3f3f3;
}