.mobile-text{
    display: none;
}

@media (max-width:768px) {
    .mobile-text {
        display: block;
        font-family: 'Assistant', sans-serif;
        font-weight: 400;
    }
    .mobile-text-white{
        color: var(--text-color-light);
    }
    .open-register-mobile{
        font-weight: 700;
    }
    .open-login-mobile-white{
        color: var(--text-color-light);
        font-weight: 700;
    }
}